{% extends 'base.html' %}

    {% block contenido %}
        <script type="text/javascript">
            
            function validarNumero(cosa){
                if(isNaN(cosa)){
                    alert("No es un campo numérico");
                    return false;
                }
                return true;
            }
            function validar(){
                var longitud=document.getElementById("longitud").value;
                var latitud=document.getElementById("latitud").value;
                var columnaTiempo1=document.getElementById("columnaTiempo1").value;
                var columnaTiempo2=document.getElementById("columnaTiempo2").value;
                var lineainicio=document.getElementById("lineainicio").value;
                if(validarNumero(longitud) && validarNumero(latitud) && validarNumero(columnaTiempo1) && validarNumero(columnaTiempo2) && validarNumero(lineainicio)){
                    document.getElementById("form").submit();
                    return true;
                }
            }
        </script>
        <div class="row justify-content-center" id="estructura-cargar">
                <div class="col-6" id="formulario-cargar">
                    <h3>Cargar archivos de datos</h3>
                    {% from "macro-campos.html" import render_campo %}
                    <form id="form" method = "POST" action="" enctype = "multipart/form-data">
                        <div class="form-group row">
                            <dt>{{ form.ruta.label }}</dt>
                            <dd>{{ form.ruta(webkitdirectory="webkitdirectory", directory="directory", multiple="") }}</dd>
                        </div>
                        {{ render_campo(form.longitud) }}
                        {{ render_campo(form.latitud) }}
                        {{ render_campo(form.columnaTiempo1) }}
                        {{ render_campo(form.formatoTiempo1) }}
                        {{ render_campo(form.columnaTiempo2) }}
                        {{ render_campo(form.formatoTiempo2) }}
                        {{ render_campo(form.lineainicio) }}
                        {{ render_campo(form.extension) }}
                        <div class="form-group row">
                            <button id="cargar" type="button" onclick="validar();">Cargar</button>
                        </div>
                    </form>
                </div>

        </div>
    {% endblock %}
